*,
*::before,
*::after {
  box-sizing: content-box;
}

body { 
  margin: 0;
  background-color: rgb(174, 211, 234);
  font-family: sans-serif;

h1 {background-color: rgb(213, 213, 213);
padding-top: 50px;
padding-bottom: 50px;
}



}




h3{text-align: center;}


.text-next-to-img {
  display: grid;
  grid-template-columns: 70% auto;
  gap: 1rem;}
  .text-next-to-img > .text {
    border: 1px solid lightgray;
    padding: 1rem 2rem;
  }
  .text-next-to-img > img {
    width: 100%;
  }